@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --bg: #121212;
  --bgSoft: #1a1a1a;
  --text: #e0e0e0;
  --textSoft: #808080;
  --borderColor: rgba(0, 128, 255, 0.395);
}

body {
  background: var(--bg);
  color: var(--text);
  max-width: 56rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

p {
  color: var(--textSoft);
}

a {
  text-decoration: none;
  color: var(--text);
}

.nav-bar {
  height: 3rem;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: medium;
  background-color: var(--bgSoft);
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--borderColor);
}

.card {
  padding: 32px 40px;
  background-color: var(--bgSoft);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--borderColor);
  margin: 24px 0;
}
.task-card {
  padding: 24px 30px;
  background-color: var(--bgSoft);
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--borderColor);
  margin: 24px 0;
}
.task-card h1 {
  color: var(--text);
}
.task-card h2 {
  color: var(--textSoft);
}
.task-card button {
  background: transparent;
  border: none;
  cursor: pointer;
}
input {
  background-color: var(--bg);
  outline: none;
  border: none;
  color: white;
  padding: 12px 32px;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
}

.btn {
  padding: 0.5rem 0.75rem;
  width: fit-content;
  background-color: rgb(11, 172, 11);
  border: none;
  color: var(--text);
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: rgb(9, 133, 9);
}
.edit-delete-buttons {
  display: flex;
  gap: 8px;
}
.edit-button {
  color: white;
}
.delete-button {
  color: red;
}
