@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --bg: #020617;
  --bgSoft: #0f172a;
  --text: "whitesmoke";
  --textSoft: #f1f5f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg);
  color: var(--text);
  max-width: 56rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

p {
  color: var(--textSoft);
}

a {
  text-decoration: none;
  color: var(--text);
}

.nav-bar {
  height: 3rem;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: medium;
  background-color: var(--bgSoft);
  color: white;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card {
  padding: 32px 40px;
  background-color: var(--bgSoft);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;

  margin: 24px 0;
}
.task-card {
  padding: 32px 40px;
  background-color: var(--bgSoft);
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
  border-radius: 16px;

  margin: 24px 0;
}
.task-card h1 {
  color: whitesmoke;
}
.task-card p {
  color: var(--textSoft);
}
.task-card button {
  background: transparent;
  border: none;
  cursor: pointer;
}
input,
textarea {
  background-color: var(--bg);
  outline: none;
  border: none;
  color: white;
  padding: 24px 32px;

  border-radius: 8px;
}

.btn {
  padding: 0.5rem 0.75rem;
  width: fit-content;
  background-color: #3b82f6;
  border: none;
  color: var(--text);
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #1e40af;
}
.edit-delete-buttons {
  display: flex;
  gap: 8px;
}
.edit-button {
  color: var(--textSoft);
}
.delete-button {
  color: red;
}

.error-container {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
}
